<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %m %ex%n" />
        </Console>
        <File name="log-file" fileName= "/opt/tomcat/apache-tomcat-10.1.40/logs/invoiceAPI.log">
            <PatternLayout pattern="%d %p %m %ex%n" />
        </File>

<!--        <File name="log-file" fileName= "/logs/invoiceAPI.log">-->
<!--            <PatternLayout pattern="%d %p %m %ex%n" />-->
<!--        </File>-->

        <RollingFile name="log-file"
                     fileName="/opt/tomcat/apache-tomcat-10.1.40/logs/InvoiceApi/invoiceAPI.log"
                     filePattern="/opt/tomcat/apache-tomcat-10.1.40/logs/InvoiceApi/invoiceAPI-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d %p %m %ex%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Logger name="org.gyula" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="log-file" />
        </Logger>

        <logger level="DEBUG" name="org.springframework.web.filter.CommonsRequestLoggingFilter" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="log-file" />
        </logger>

        <Root level="WARN">
            <AppenderRef ref="console" />
            <AppenderRef ref="log-file" />
        </Root>
    </Loggers>
</Configuration>